# Python virtual environments
venv_norm/
venv/
env/
.env/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 

# Ignore node_modules
node_modules/

# Ignore Next.js build output
.next/